*{
    margin: 0;
}
.w2{
    width: 2px;
}
.mt-150{
    margin-top: -250px;
}


body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
   background-image: linear-gradient(#4D00F6, #450AB3);
    box-shadow: inset 2px 0px 5px rgb(35, 20, 133);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
  }










.header{
    /* background-color: rgba(0, 0, 0, 0.705); */
    position: fixed;
    z-index: 99;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.active {
    background-color: #450AB3;
    padding: 5px 0px;
    box-shadow: 0px 1px 30px #450ab37e;
  }
.nav-link{
    color: white;
    cursor: pointer;
}
.nav-link:hover{
    color: white;
}




.mt-a{
    margin-top: auto;
    background-color: green;
}
.banner{
    width: 100%;
    height: 80vh;
    padding: 100px 0px;
    background-size: cover;
    background-position: center;
}
.banner-button{
    width: 150px;
    background-image: linear-gradient(to bottom left, #5f15ff, #21005f);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.banner-button:hover{
    color: white;
    text-decoration: none;
    box-shadow: 0px 20px 50px #450ab37e;
}
.banner-img{
    width: 100%;
    bottom: 0;
}

.d-app{
    position: relative;
    bottom: 0;
    margin-bottom: 50px;
    min-height: 50vh;
    display: none;
}
.d-app > img{
    position: absolute;
    bottom: 0;
}
.d-app > .row{
    position: absolute;
    bottom: 0;
}
.d-app > .row > .col-md-7{
    position: relative;
    margin-top: auto;
}




.app-work{
    position: relative;
    min-height: 100vh;
    padding: 100px 0px;
}
/* .appusebanner{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */


.contact-form{
    margin-bottom: -40px;
    background-color: white;
    box-shadow: 0px 0px 60px rgb(175, 175, 175);
    z-index: 99;
    margin-bottom: 20px;
}
.contact-input{
    padding: 5px;
}
.contact-input > input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
}
.contact-message{
    width: 100%;
    padding: 10px;
    min-height: 150px;
    border: 1px solid rgb(206, 206, 206);
    outline: none;
}
.footer-button{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    outline: none;
    background-color: #450AB3;
}








/* FOOOTER */
.footer{
    background-image: linear-gradient(#4D00F6, #21005f);
    padding: 100px 0px;
}
.news-later{
    padding: 2px;
    background-color: white;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-later > input{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 20px;
}
.news-later > a > img{
    background-color: #4D00F6;
    padding: 6px;
}
/* FOOOTER ENDS */









@media screen and (max-width: 720px) {
    .header{
        background-color: #450AB3;
    }
    .banner{
        height: 100vh;
    }
    .banner-img{
        margin-top: 50px;
    }
    .phone-img{
        display: none;
    }
    .step{
        display: grid;
        grid-template-columns: 0.25fr 1fr;
    }
    .mb50{
        margin-bottom: 50px;
    }
    .mt50{
        margin-top: -190px;
    }
}
@media screen and (min-width: 1140px) {
    .d-app{
        display:block;
    }
}